body{
    background: rgb(102,95,111);
    background: linear-gradient(90deg, rgba(102,95,111,1) 0%, rgba(63,56,72,1) 68%, rgba(22,18,28,1) 100%);
    margin: 0;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 0;
    
}
.container{
    background-color: #3f3848;
    color: #fffff9;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    margin-top: 25vh;
    margin-bottom: 25vh;
    box-shadow: 2px 2px 10px black;
    max-width: 500px;
}
.texto{
    word-spacing: 3px;
    margin-bottom: 50px;
    line-height: 25px;
}
a{
    color: white;
}
.dados{
    background-color: #3f3848;
    color: #fffff9;
    border: none;
    border-bottom: 1px solid #fffff9;
    padding: 10px;
    width: 90%;
    margin-bottom: 30px;

}
::placeholder{
    color: #fffff9;
    text-transform: uppercase;
}
.robo{
    background-color: rgb(17, 177, 142);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin: auto;
    width: fit-content;
    border: 2px solid rgb(17, 177, 142);
    
}
.robo input {
    height: 25px;
    width: 25px; 
}
.label{
    position: relative;
    bottom: 6px;
    padding: 15px 0px;
    color: white;
    text-shadow: 2px 2px 10px black;
    
}

.robo:hover{
    background-color: rgb(15, 146, 118);
}

.robo input:hover{
    cursor: pointer;
    
    
}
.label:hover{
    cursor: pointer;
    
}

.botao{
    text-transform: uppercase;
    padding: 15px;
    background-color: #f04227;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    text-shadow: 2px 2px 10px black;
    font-size: 16px;
    border: 2px solid #f04227;
}
.botao:hover{
    
    cursor: pointer;
    border: 2px solid #f04227;
    background-color: #ce3922;
}



@media screen and  (max-width:340px){
    h1{
        font-size: 9vw;
    }
}

@media screen and (max-width:270px){
    .label{
        /* background-color: red; */
        padding: 0 0;

    }
    .dados{
        font-size: 6vw;
    }
    .nSenha{
        font-size: 4vw;
    }
}

@media screen and (max-width:220px){
    .robo{
        padding: 5px;
    }
    .label{
        font-size: 7vw;
    }
    .robo input{
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width:184px){
    .robo input{
        height: 15px;
        width: 15px;
    }
}